<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

    <head>
        <title>Employees example</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
              crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <h2>You made an appointment!</h2>
            <p>Here are the details:
                <b>
                    <span th:if="${customerName}" th:text="${customerName}">SPECIALTY</span>
                    <span th:if="${customerSurame}" th:text="${customerSurame}">DOCTOR</span>
                    <span th:if="${existingCustomerEmail}" th:text="${existingCustomerEmail}">DATE TIME</span>
                    <span th:if="${existingCustomerEmail}" th:text="${existingCustomerEmail}">REASON</span>
                </b>
            </p>
        </div>


        <div class="container">
            <h1>Car Dealer</h1>
            <div class="row mt-3">
                <div class="col-md-4">
                    <a th:href="@{/}" class="btn btn-info" role="button">Go back to the main page</a>
                </div>
            </div>
        </div>
    </body>
</html>