<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Online Clinic Management</title>

</head>

<body>

<div class="container-fluid">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-md-2 bg-light">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a class="nav-link btn btn-info" th:href="@{/patient/patient_appointment}"
                                   role="button">Appointments</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link btn btn-info" th:href="@{/patient/patient_user_information}"
                                   role="button">User Information</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link btn btn-info" th:href="@{/patient/patient_medical_history}"
                                   role="button">Medical History</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link btn btn-info" th:href="@{/patient/patient_appointment_notes}"
                                   role="button">Appointment Notes</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a th:href="@{/}" class="nav-link btn btn-info" role="button">Go back to the main
                                    page</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-10">
                <div class="container-fluid">
                    <div class="row mt-3">
                        <table class="table table-success table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Appointment Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Reason</th>
                                    <th scope="col">Doctor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="appointment : ${appointmentsDTO}">
                                    <td th:text="${appointment.appointmentDate}"></td>
                                    <td th:text="${appointment.status}"></td>
                                    <td th:text="${appointment.reason}"></td>
                                    <td th:text="${appointment.doctor.firstName} + ' ' + ${appointment.doctor.lastName}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Doctor Availability</h2>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Specialization</th>
                                        <th>Doctor</th>
                                        <th>Date</th>
                                        <th>Available Hours</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="specialtyEntry : ${specialtyWithDoctors.entrySet()}">
                                    <tr th:each="doctorWithDates : ${specialtyEntry.value.doctors}">
                                        <td th:if="${doctorWithDatesStat.index == 0}" th:rowspan="${specialtyEntry.value.doctors.size()}" th:text="${specialtyEntry.key}"></td>
                                        <td th:text="${doctorWithDates.doctor.firstName} + ' ' + ${doctorWithDates.doctor.lastName}"></td>
                                        <td>
                                            <select th:id="'date-' + ${doctorWithDates.doctor.doctorId}" th:attr="onchange=|updateAvailableHours('${doctorWithDates.doctor.doctorId}')|">
                                                <option th:each="dateEntry : ${doctorWithDates.availableTimeSlots.entrySet()}"
                                                        th:value="${dateEntry.key}"
                                                        th:data-hours="${#strings.listJoin(dateEntry.value, ',')}"
                                                        th:text="${dateEntry.key}">
                                                </option>
                                            </select>
                                        </td>
                                        <td th:id="'availableHours_' + ${doctorWithDates.doctor.doctorId}">
                                            <!-- JS will update this based on selected date -->
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <form id="appointmentForm" action="#" th:action="@{/patient/patient_appointment}" method="post">
                                <h2>Make an Appointment!</h2>
                                <div class="form-group mb-3">
                                    <label for="specialtySelect">Specialization</label>
                                    <select class="form-control" id="specialtySelect" onchange="updateDoctors()">
                                        <option value="">Select Specialization</option>
                                        <th:block th:each="specialtyEntry : ${specialtyWithDoctors.entrySet()}">
                                            <option th:value="${specialtyEntry.key}" th:text="${specialtyEntry.key}">
                                            </option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="doctorSelect">Doctor</label>
                                    <select class="form-control" id="doctorSelect" name="doctorId" onchange="updateDates()">
                                        <option value="">Select Doctor</option>
                                        <!-- Doctors will be populated by JavaScript -->
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="dateSelect">Date</label>
                                    <select class="form-control" id="dateSelect" name="dateSelect" onchange="updateAvailableHoursFromForm()">
                                        <option value="">Select Date</option>
                                        <!-- Dates will be populated by JavaScript -->
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="hourSelect">Available Hours</label>
                                    <select class="form-control" id="hourSelect" name="hourSelect">
                                        <option value="">Select Hour</option>
                                        <!-- Hours will be populated by JavaScript -->
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="reason">Reason</label>
                                    <input type="text" class="form-control" id="reason" name="reason">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            // Iteracja przez wszystkie elementy select dla dat
            document.querySelectorAll('select[id^="date-"]').forEach(function(selectElement) {
                const doctorId = selectElement.id.replace('date-', '');
                updateAvailableHours(doctorId); // Wywołanie funkcji aktualizującej dla domyślnej daty
            });
        });

        function updateAvailableHours(doctorId) {
            const selectElement = document.getElementById(`date-${doctorId}`);
            if (!selectElement) {
                console.error(`Select element not found for doctorId: ${doctorId}`);
                return;
            }

            const selectedOption = selectElement.options[selectElement.selectedIndex];
            const availableHoursString = selectedOption.getAttribute('data-hours');
            const availableHours = availableHoursString ? availableHoursString.split(',') : [];

            const availableHoursElement = document.getElementById(`availableHours_${doctorId}`);
            if (availableHoursElement) {
                availableHoursElement.innerHTML = availableHours.map(hour => `<div>${hour}</div>`).join('');
            }
        }
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var specialtyWithDoctors = [[${specialtyWithDoctors}]]; // Ensure this is correctly passed

        function updateDoctors() {
            var specialty = document.getElementById("specialtySelect").value;
            var doctorSelect = document.getElementById("doctorSelect");
            doctorSelect.innerHTML = '<option value="">Select Doctor</option>'; // Reset

            if (specialty) {
                var doctors = specialtyWithDoctors[specialty].doctors;
                doctors.forEach(function(doctor) {
                    var option = new Option(doctor.doctor.firstName + ' ' + doctor.doctor.lastName, doctor.doctor.doctorId);
                    doctorSelect.add(option);
                });
            }

            updateDates(); // Reset subsequent dropdowns
        }

        function updateDates() {
            var doctorId = document.getElementById("doctorSelect").value;
            var dateSelect = document.getElementById("dateSelect");
            dateSelect.innerHTML = '<option value="">Select Date</option>'; // Reset

            if (doctorId) {
                var selectedSpecialty = document.getElementById("specialtySelect").value;
                var doctors = specialtyWithDoctors[selectedSpecialty].doctors;
                var selectedDoctor = doctors.find(function(doctor) {
                    return doctor.doctor.doctorId.toString() === doctorId;
                });

                if (selectedDoctor) {
                    Object.keys(selectedDoctor.availableTimeSlots).forEach(function(date) {
                        var option = new Option(date, date);
                        dateSelect.add(option);
                    });
                }
            }

            updateAvailableHoursFromForm(); // Reset hours dropdown
        }

        function updateAvailableHoursFromForm() {
            var doctorId = document.getElementById("doctorSelect").value;
            var selectedDate = document.getElementById("dateSelect").value;
            var hourSelect = document.getElementById("hourSelect");
            hourSelect.innerHTML = '<option value="">Select Hour</option>'; // Reset

            if (doctorId && selectedDate) {
                var selectedSpecialty = document.getElementById("specialtySelect").value;
                var doctors = specialtyWithDoctors[selectedSpecialty].doctors;
                var selectedDoctor = doctors.find(function(doctor) {
                    return doctor.doctor.doctorId.toString() === doctorId;
                });

                if (selectedDoctor && selectedDoctor.availableTimeSlots[selectedDate]) {
                    selectedDoctor.availableTimeSlots[selectedDate].forEach(function(hour) {
                        var option = new Option(hour, hour);
                        hourSelect.add(option);
                    });
                }
            }
        }
        /*]]>*/
    </script>
</body>
</html>